
bdsettings.json
bdstorage.json
emote_data.json
logs.log
plugins/0PluginLibrary.plugin.js
plugins/AvatarIconViewer.plugin.js
plugins/BDContextMenu.config.json
plugins/BDContextMenu.plugin.js
plugins/BetterFormattingRedux.plugin.js
plugins/BFRedux.config.json
*.js
*.json
themes/SmarterEmbeds.theme.css
themes/RadialStatus.theme.css
themes/popoutOverhaul.theme.css
themes/fullScreenStatusPicker.theme.css
temp/BetterDiscord.zip
